body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}


/************************** Header ********************************/
header {
    position: fixed;
    width: 100%;
}

.headerflex {
    display: flex;
    justify-content: space-between;
    border: solid red;
    background-color: black;
    opacity: 0.5;
}

.buttonHeader{
    display: flex;
    align-items: center;
}

.titre h1 {
    margin: 10px;
    color: #FFC100;
}

.buttonHeader {
    margin: 10px;
}

.reserv{
    border-radius: 50px;
    width: 200px;
    height: 50px;
    background-color: #FFC100;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

.background_header img{
    width: 100%;
}