body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}


/************************** Header ********************************/
header {
    position: fixed;
    width: 100%;
}

.headerflex {
    display: flex;
    justify-content: space-between;
    border: solid red;
    background-color: black;
    opacity: 0.5;
}

.buttonHeader{
    display: flex;
    align-items: center;
}

.titre h1 {
    margin: 10px;
    color: #FFC100;
}

.buttonHeader {
    margin: 10px;
}

.reserv{
    border-radius: 50px;
    width: 200px;
    height: 50px;
    background-color: #FFC100;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

.background_header img{
    display: flex;
    width: 100%;
}

/* **************************************Main ******************************/

/**************************** Panel 1 ************************************/
.pannel1{
    background-color: #FF8200;
    display: flex;
    justify-content: center;
    text-align: center;
}

.txtPannel1 p {
    font-style: italic;
    font-weight: bold;
    font-size: large;
}
.txtPannel1 h1 {
    text-transform: uppercase;
    color: #FFEAAE;
}

/*************************** Panel 2 ******************************************* */
.panel2{
    display: flex;
    justify-content: space-around;
    background-color: #FFEAAE;
}

.txtPan2{
    width: 50%;
    margin: 10px;
}

.imgPan2{
    margin: 10px;
}

